body{
    background:#B5D1FB;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
  }
  .top, .bottom{
    height:250px;
    width:60px;
    background:#8819F6;
    border-radius:50%/12%;
    position:absolute;
  }
  .top{
     margin-left:120px;
    margin-bottom:190px;
  }
  .bottom{
    margin-right:120px;
    margin-top:190px;
  }
  .t-circle,.b-circle{
    height:60px;
    width:60px;
    border-radius:50%;
    background:#230259;
    position:absolute;
  }
  .t-circle{
    margin-right:120px;
    margin-bottom:180px;
  }
  .b-circle{
    margin-left:120px;
    margin-top:180px;
  }
