
  body {
   background:#F0CD48;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
  }
  .semi{
    height:120px;
    width:120px;
    border:40px solid #66284A;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    position:absolute;
  }
  .semi1{
    background:#66284A;
    height:100px;
    width:40px;
    border-radius:50%/20%;
    margin-top:60px;
  }

