
  body {
    background:#DE9473;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
  }
  .oval1,.oval2,.oval3{
    height:150px;
    width:100px;
    background:#A4281F;
    border-radius:50%;
    margin:-10px;
  }
