
  body {
    background:#FEFAE0;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .p1,.p2{
    height:200px;
    width:30px;
    background:#9CCCDB;
    position:absolute;
    top:140px;  
  }
  .p2{
    margin-left:240px;
    border-top-right-radius:10%;
  }
  .p1{
    margin-right:240px;
    border-top-left-radius:10%;
  }
  .c1 ,.c2{
    height:60px;
    width:60px;
    border:30px solid #9CCCDB;
    border-radius:50%;
    position:absolute;
  }.c1{
    margin-right:150px;
  }
  .c2{
    margin-left:150px;
  }
