
  body{
    background:#FEFAE0;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:150px;
  }
  .circle{
    background:#9CCCDB;
    width:200px;
    height:200px;
    border-radius:50%;
    position:absolute;
    
  }
  .square{
    background:#FEFAE0;
   width:150px;
    height:150px; 
    z-index:1;
    margin-top:-105px;
    margin-right:109px;
    position:absolute;
    
  }
  .square1{
    background:#9CCCDB;
   width:100px;
    height:100px; 
    z-index:1;
    margin-bottom:97px;
    margin-right:97px;
    border-top-left-radius:200px;
  }
